* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding: 10px 300px;
  display: grid;
  grid-template: 
  "left-menu main-menu right-menu" 1fr /
   300px    1fr         300px ;
}

.left-menu{
  grid-area: left-menu;
}

.left-menu__list{
  display: grid;
  gap: 20px
}
.left-menu__list li{
  display: grid;
  grid-template-columns: auto 1fr;
}
.svg{
  width: 40px;
}
.svg:hover{
  background-color: rgba(173, 216, 230, 0.397);
  clip-path: circle(closest-side);
}

/* main section */

.main-menu{
  grid-area: main-menu;
  background-color: aqua;
}

.right-menu{
  grid-area: right-menu;
  background-color: blanchedalmond;
}